@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");
/*@import url("//basehold.it/24");

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: 'Literata', Georgia, 'Times New Roman', Times, Roman, serif;  font-size: 1.125em; /*18 /16 = 1.125*/
  line-height: 1.333333em; /*24 /18 =1.333333 */
  padding: 1.333333em; /*24 /18 =1.333333 */
  background: #333333;
  color: #e6e6e6;
}

h1 {
  font-size: 1.666667em; /*30 /18 =1.666667em */
  padding-bottom: 1.333333em; /*24 /18 =1.333333 */
  text-align: center;
}

h2 {
  font-size: 1.444444em; /*26/18=1.444444em*/
  font-weight: bold;
  padding-bottom: 1.333333em; /*24 /18 =1.333333 */
}

h3 {
  font-weight: bold;
  padding-bottom: 1.222222em; /*22 /18 =1.222222 */
  padding-top: 0.666667em;
}

h4 {
  font-weight: bold;
  padding-top: 0.666667em;
  padding-bottom: 0.666667em;
}

p {
  padding-top: 0.666667em;
  padding-bottom: 0.666667em;
}

h1,
h2,
h3,
h4,
p,
nav,
figcaption {
  padding-bottom: 1.333333em; /*24 /18 =1.333333 */
}

img {
  display: block;
  max-width: 100%;
  border: 3px solid #00008b;
}

/*Layout*/
body{
  display: grid;
  grid-template-columns: minmax(0.625em,1fr) minmax(5ch,80ch) minmax(0.625em,1fr)
}

footer {
  position; static;
  left: 0;
  bottom: 0;
  width 100%;
  text-align: center;
}

header,
nav,
main,
footer{
  grid-column: 2 / 3
}

/*Modular*/

.nav li{
  padding-bottom: 0.666667em;
}
.nav a {
  display: block;
  text-decoration: none;
  background: #2d8ceb;
  color: #e6e6e6;
  padding: 0.45em;
}

.nav a:hover {
  background: #2d8ceb;
}
